@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Titillium+Web&display=swap');


/* general */

*{
    font-family: Open Sans, Titillium Web, sans-serif;
    margin: 0px;
}

body{
    
/* background-color: #141422; */
margin: 0;
padding: 0;
background-color: white;
}

section {
  clear: both;
  margin: 0px;
}

h1{
    color: white
}

h1,h2 {
    font-family: Titillium Web, sans-serif;
}

p {
    font-family: Open Sans, sans-serif;
}

/* title section */
header{
    background-color:#107c10;
    height: 80px;
}

#title> a{
    text-decoration: none;
    float: left;
    padding: 5px;
}
    
#title h1 {
    letter-spacing: 2px;
    font-size: xx-large;
}

#title h1:hover {
    color: #141422;
}



a {
    color: white;
}

#menu {
    float: right;
    padding: 5px;
}

#menu a {
    text-decoration: none;
}

#menu li{
    display: inline;
    list-style-type: none;
    margin: 10px 10px;
}



.active{
    color: #141422;   
}

#menu a:hover {
    color: #141422;
}


/* hero image */



#hero-image{
    background: url(../images/hero_image_bioinfo.jpg) no-repeat center center;
    height: 600px;
    background-size: cover;
    animation:  stripesSlide 7s;
    animation-fill-mode: forwards;
    position: relative;
}
#over-image{
    background-color: rgba(0, 0, 0, 0.85);
    top: 250px;
    right: 10px;
    width: 250px;
    height: 400px;
    position: absolute;
    padding: 5px;
    color: white;
}

#over-image p {

  margin: 5px;
}

@keyframes stripesSlide {
    0% {
      background-position: top;
    }
    100% {
      background-position: bottom;
    }
  }

  /* main instruments section */

  #wokflows {
    margin: 0px;

  }

  #instrument-title {
    margin-top: 0px;
    background-color: #107c10 ;
    width: 100%;
    height: 40px;
    color: white;
  }

  #instrument-title h2 {
    text-align: center;
  }
 
  #gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 500px; /* Adjust the height as needed */
    margin-bottom: 10px;
  }
  
  #gallery img {
    width: 30%; /* Adjust the width based on your requirements */
    margin: 10px;
    object-fit: contain;
    margin: 10px;
  }

  #disclaimer{
    margin-top: 100px;
    margin-bottom: 0px;
    text-align: center;
 }

  
  /* footer */

  footer{
    margin-top: 0;
    background-color: #107c10;
  
  }

  
   
  #socials ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 20px;
  }

  #socials{
    height: 100px;
    justify-content: center;
    align-items: center;
  }

  #socials li {
    display: inline;
    list-style-type: none;
    margin: 0px 40px;
  }
  
  .social-icon {
    font-size: xx-large;
  }

  #copyright {
    text-align: center;
    color: white;
    width: 100%;
    background-color: #107c10;
  }

   /* Resources */
    
   /* introduction */
   #introduction {
    padding: 10px;
    background: url('../images/introbackground.jpg') no-repeat center center;
    background-size: cover;

   }

   #introduction h2 {
    color: white;
    text-align: center;
    margin-top: 20px;
   }

   #intro-title{
    background-color: rgba(0, 0, 0, 0.85);
    width: 50%;
    margin: 0 auto;
   }
   
   #video-container {
    display: flex;
    margin: 0px;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Adjust the height as needed */
  }
  

  
/* publications */

   #publications {
    clear: both;
    background-color: #107c10;
    color: white;
    padding: 10px;
   }

   #publications a {
    text-decoration: none;
    color: white;
   }

   #publications li {
    list-style-type: none;
    
   }
   #publications a:hover{
    color:#141422
   }

   #publications-header{
    margin-left: 10px;
    text-align: left;
  
  }

   #papers {
    text-align: left;
  }

   #papers li {
    margin: 10px;
   }

    /* events */

    #events {
      height: 40vh; /* Adjust the height as needed */
     }

    #events-title{
      margin: 0 auto;
      margin-top: 10px;
      width: 25%;
      text-align: center;
     }

  
     #events a {
      color: #141422;
      text-decoration: none;
     }
  
     #events a:hover{
      color: #107c10;
     }
    
  
    #events-table table{
      margin: 0 auto;
      margin-top: 40px;
      border-collapse: separate;
      border-spacing: 20px;
     
    }
  
    #events-table th, td {
      border: 10px hidden #ddd;
      text-align: left;
      font-size: small;
    }

    /* signup form */

    .form-background {
      position: relative;
      background-image: url(../images/sign-up-form.jpg);
      height: 800px;
      background-size: cover;
      margin: 0 auto;
    }

    #join-us-form{
      position: absolute;
      background-color: rgba(0, 0, 0, 0.65) ;
      color: white;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 20px;
      overflow-wrap: break-word;
   }
    


    form input,form label {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    box-sizing: border-box;
      }

    .ngs-checkbox {
        display: inline;
    }
    #workflow-checkbox label {
        display: inline;
    }
    
    input[type=checkbox] {
        display: inline;
    }

    .signup-button {
      border-radius: 5px;
    }

    .signup-button:hover{
      background-color: #107c10;
      color: white;
    }


    /*Ask us */
   #ask-us-form{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.65) ;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    overflow-wrap: break-word;

   }
    
   #kiteworks a{
    text-decoration: none;
   }

   #kiteworks a:hover{
    color: #107c10;
   }


    
     
    


 


  @media screen and (max-width: 897px) {

  header{
    width: 100vw;
  }

   #title h1 {
      font-size: large;
      text-align: left;
   }

   title{
    margin-bottom: 0px;
   }
   
   #menu, #title {
    display: block;
    clear: both;
   }

   #menu  { 
   margin-top: 0px; 
   margin-left: 0px;
   padding: 0px;
   line-height: 25px;
   float: left;
   font-size: small;
  } 

  #over-image{
    width: 95vw;
    height: 33vh;
    left: 0px;
    top: 120px;
    font-size: small;
  }

  #hero-image, #instrument-title, #disclaimer, footer{
    width: 100vw;
  }

  #gallery {
      flex-direction: column; /* Stack images vertically */
      height: auto;
      margin: 10px 0;
   }
    
  
  #gallery img {
      width: 100%; /* Show images in full width */
    }
  
  #gallery img:nth-child(2) {
      order: 3;
    }
  #gallery img:nth-child(3) {
      order: 5;
  }
  
  #gallery img:nth-child(4) {
      order: 2;
    }

  #gallery img:nth-child(5) {
      order: 4;
    }
  
  #gallery img:nth-child(6) {
      order: 6;
    }

  #disclaimer, footer {
    font-size: small;
  }


   #introduction{
    width: 96vw;
   }

   #intro-title{
    margin-top: -30px;
    background-color: rgba(0, 0, 0, 0.85);
    width: 85vw;
    font-size: small;
   }

   #video-container{
    height: 50vh;
    width: 95vw;
   }
   #video-container iframe {
    height: 40vh;
   }

   #publications{
    height: 40vh;
    width: 98vw;
    padding: 5px;
    font-size: small;
   }

   #papers ul {
         overflow-wrap: break-word;
   }

   #events-title{
    width: 95vw;
    font-size: small;
   }

    
  #events-table {
    width: 95vw;
    margin-top: 20px;
    overflow-x: auto;
  }
  
  #events-table table {
    width: 95vw;
    border-collapse: collapse;
  }
  
  #events-table th,
  #events-table td {
    padding: 8px;
    white-space: nowrap;
    text-align: left;
  }
  
  #events-table thead th {
    background-color: #107c10;
    color: white;
  }
  
  #events-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  #join-us-form{
    height: 100vh;
    display: block;
  }

  .form-background{
    font-size: small;
     width: 100vw;

  }

  #join-us-form, #ask-us-form {
    height: 80vh;
    width: 70vw;
  }

  #ask-us-form textarea{
    width: 100%;
    color: gray;
  }
}